body {
    background-image: url("img/unsouled.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    text-align: center;
    -webkit-text-stroke: 0.10px black;
}

h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50pt;
    color: white;
}

h2{
    text-align: center;
    font-weight: bolder;
    font-size: 22pt;
    color: white;
}

h3{
    text-align: center;
    font-size: 16pt;
    color: white;
    -webkit-text-stroke: 0.10px black;
}

.button {
    color: #D92906;
    background-color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 3em;
}

img {
    width: 23%;
    height: 23%;
}