/* HIGHEST HIERARCHICAL FORMATTING BLOCKS */

/* Background */
body {
    background-color: #000000;
}

/* Headers and their text */
.container {
    color: #ffffff;
    font-weight: bolder;
}



/* TOP OF PAGE FORMATTING */

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #535252;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 15px 32px;
    color: white;
    text-decoration: none;
}

li a:hover {
    background-color: #383333;
    transition:0.5s;
}

li a:active {
    background-color: #6b6262;
}



/* NON-HIERARCHICAL ELEMENT FORMATTING */

/* Headers and their text */
h1 {
    color: #ffffff;
    font-size: 25pt;
    display: inline-block;
    overflow: auto;
    position: absolute;
}

#useless {
    text-align: center;
    color: #ffffff;
    font-size: 25pt;
    display: inline-block;
    margin-top: 15em;
}

/* Images */
#soyuz {
    float: left;
    width: 25%;
    height: 25%;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

/* Resizing */

@media only screen and (min-width: 768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}